body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.infoWindow {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 5px 5px 20px #888888;
  min-height: 400px;
  padding: 20px;
  position: fixed;
  right: 20px;
  top: 20px;
  transition: all .5s ease-in-out;
  width: 25vw;
  z-index: 2;
}

.toggle-cms {
  position: absolute;
  bottom: 0; 
  border: 0; 
  z-index: 2;
  font-size: 20px;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 5px 5px 20px #888888;
}